section#header {
  position: relative;

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    transition: all 0.4s ease;

    ul {
      width: 50%;
      height: 80px;
      margin: 0 auto;
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;

      li {
        padding: 10px 10px;
        position: relative;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          height: 2px;
          width: 0;
          background: #0bceaf;
          transition: all 0.4s ease;
        }

        &:hover {
          &::before {
            width: 100%;
          }

          span {
            color: #0bceaf;
          }
        }

        span {
          text-decoration: none;
          font-size: 18px;
          line-height: 30px;
          font-weight: bold;
          color: #fff;
          transition: all 0.4s ease;
        }
      }
    }
  }

  .header__content {
    width: 100%;
    margin-top: 100px;
    padding: 100px 0;
    display: flex;
    justify-content: flex-end;

    .infomation {
      width: 50%;
      .infomation__wrapper {
        width: 80%;
        margin: 0 auto;
        span {
          background-color: #0bceaf;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 1px;
          font-weight: bold;
          padding: 10px 30px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 0px;
        }

        h2 {
          font-size: 60px;
          font-weight: 600;
          line-height: 65px;
          margin-top: 30px;
          margin-bottom: 10px;
        }

        h3 {
          font-size: 26px;
          line-height: 34px;
          margin-bottom: 30px;
        }

        .infomation--contact {
          ul {
            list-style: none;
            padding-left: 0;

            li {
              margin: 10px 0;
              font-size: 16px;

              svg {
                margin-right: 10px;
                font-size: 16px;
              }
            }
          }
        }

        .box--icon {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 30px;

          .btn--icon {
            width: 45px;
            height: 45px;
            margin-right: 15px;
            background: #fff;
            border-radius: 50%;
            color: #0bceaf;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 5px 10px -5px #fff;
            position: relative;
            overflow: hidden;

            &::before {
              content: "";
              position: absolute;
              width: 120%;
              height: 120%;
              background: #0bceaf;
              transform: rotate(45deg);
              left: -110%;
              top: 90%;
            }

            &:hover {
              &::before {
                animation: animateIcon 1s 1;
                top: -10%;
                left: -10%;
              }
            }

            &:hover .svg-inline--fa {
              transform: scale(1.3);
              color: #fff;
            }

            .svg-inline--fa {
              font-size: 20px;
              transition: all 0.4s ease;
            }

            @keyframes animateIcon {
              0% {
                top: 90%;
                left: -110%;
              }

              50% {
                top: -30%;
                left: 10%;
              }

              100% {
                top: -10%;
                left: -10%;
              }
            }
          }
        }
      }

    }

    .avatar {
      position: relative;
      width: 50%;

      .image--border {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 370px;
        height: 370px;
        border-radius: 50%;
        border: 10px solid #ffffff;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 350px;
        border-radius: 50%;
      }
    }
  }
}

//////////////////////// RESPONSIVE////////////////////////
@media (max-width: 1199px) {
  .infomation__wrapper {
    h2{
      font-size: 30px ;
    }
    
  }
}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 480px) {}

